*{
    font-family: sans-serif;
}

#customerInfo {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }

  #customerInfo img {
    height: 200px;
    width: 200px;
    margin: 15px;
    border: 2px double rgb(21, 101, 148);
    border-radius: 25px;
  }

  h1{
    text-align: center;
   
  }

  h2{
    text-decoration: underline rgb(32, 72, 148);
  }

 p{
     font-style: italic;
 }